{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login - Gerenciamento de TCC FEUC</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href={% static "images/icons/favicon.ico"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/bootstrap/css/bootstrap.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/animate/animate.css"%}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={% static "vendor/css-hamburgers/hamburgers.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "vendor/select2/select2.min.css"%}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "css/util.css"%}>
	<link rel="stylesheet" type="text/css" href={% static "css/main.css"%}>
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="site-form" action="{% url 'accounts:login' %}}" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-b-55">
						Login
					</span>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Insira um login válido">
						<input class="input100" type="text" name="username" placeholder="Login" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-graduation-hat"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Insira uma senha válida">
						<input class="input100" type="password" name="password" placeholder="Senha">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>

					<div class="contact100-form-checkbox m-l-4">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="lembrar">
						<label class="label-checkbox100" for="ckb1">
							Lembre-se de mim
						</label>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button input type="submit" class="login100-form-btn">
							Entrar no sistema
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>   