{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<!--Esta é para ser a homepage do aluno-->
<div class="container-fluid">
<div id="particles-container"></div>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand pull-right" ><img src="{% static 'img/logo-png.png' %}" id="brand-logo"></a>
            <hr/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse self-align-inicial" id="navbarSupportedContent">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" >
                        Documentos de base
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="options" href="#">Doc1</a>
                            <a class="dropdown-item" id="options" href="#">Doc2</a>
                            <a class="dropdown-item" id="options" href="#">Doc3</a>
                            <a class="dropdown-item" id="options" href="#">Doc4</a>
                        </div>
                    </div>
                <div>
                    <button type="button" class="btn btn-light" href="#" onclick="Popup()"> Histórico de Versões</button>
                </div>
            </div>
            <div class="nav justify-content-end">
                {% if user.is_authenticated %}
                <h6> Olá, {{ user.username }} {{user.last_name}}. <a class="logout" href={% url 'accounts:login' %}>{% csrf_token %}Logout</a></h6>
                {% endif %}
            </div>
    </nav>
    </div>
    <div class="row">   
        <div class="col-8 align-items-center" id="feed" >
            <br />
            <label>Painel</label>
            <br />
            <div id="orientations">
                Atuais orientações
                    <div class="dropdown-divider"></div>
            </div>
            </div>
        </div>
    <!--MODAL DO HISTÓRICO DE DOCUMENTOS-->
    <div id="modala" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Histórico de versões</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p><!--INCLUIR AQUI EVENTO PARA LISTAR DO BANCO--></p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
        </div>
    </div>
</div>
</div>


{% endblock %}