{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div id="particles-container"></div>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand pull-right" ><img src="{% static 'img/logo-png.png' %}" id="brand-logo"></a>
            <hr/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse self-align-inicial" id="navbarSupportedContent">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" >
                        Documentos de referência
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" id="options" href="#">Etapas para o desenvolvimento do Projeto Final Individual </a>
                            <a class="dropdown-item" id="options" href="#">Modelo de cronograma</a>
                            <a class="dropdown-item" id="options" href="#">EXEMPLO: Documentação do modelo de casos de uso</a>
                            <a class="dropdown-item" id="options" href="#">Projeto de banco - Passo a passo (Modelo)</a>
                        </div>
                    </div>
                <div>
                    <button type="button" class="btn btn-light" href="#" onclick="Popup()"> Histórico de Versões</button>
                </div>
            </div>
            <ul class="nav justify-content-end">
                {% if user.is_authenticated %}
                <h6> Olá, {{ user.username }} {{user.last_name}}. <a class="logout" href={% url 'accounts:login' %}>{% csrf_token %}Logout</a></h6>
                {% endif %}
            </div>
    </nav>
    </div>
    <div class="row">   
        <div class="col-md-2" id="project">
            <br>
            <label>Projetos</label>
            <!--<div class="dropdown-divider"></div>
            <div id="envios">
                Enviar documento
                <form>
                    <input type= "file" class="btn btn-primary btn-md " id="addFile" >
                    <br>
                    <br>
                    <a href="#" class="btn btn-danger btn-md" role="button" type="Reset">Limpar</a>
                    <a href="#" class="btn btn-success btn-md" role="button" type="submit">Enviar</a>
                </form>
            </div>-->
            <br />
                <div id="status">
                    <div class="dropdown-divider"></div>
                    <label>Status</label>
                    <form>
                        <select id="fstatus" name="fstatus">
                            <option value=" "><a href="#">SELECIONE</a></option>
                            <option value="em-andamento"><a href="#">Em andamento</a></option>
                            <option value="concluido-aguardando"><a href="#">Concluído: Aguardando apresentação a banca</a></option>
                            <option value="concluido-aprovado"><a href="#">Aprovado</a></option>
                            <option value="concluido-reprovado"><a href="#">Reprovado</a></option>
                        </select><br><br>
                        <input type="submit" class="btn btn-success" value="Salvar">
                    </form>
                </div>
            </div>  
        <div class="col-md-6 align-self-center" id="feed" >
            <br />
            <label>Mural</label>
            <br />
                <section>
                    <p id="professorFeed">Orientador: Documentação revisada. </p>
                </section>
                <div class="dropdown-divider"></div>
                <textarea id="comments" placeholder="Insira seu comentário..."></textarea>
                <button class="btn btn-success btn-lg" id="enviarcomentario">Enviar</button>
            </div>
        <div class="col-md-2" id="final">
            <br />
                <div id="checklist">
                    <label>Checklist</label>
                        <ul>
                            <li><input type="checkbox"> Entrega da documentação</li>
                            <li><input type="checkbox"> Finalizar frontend</li>
                            <li><input type="checkbox"> Finalizar workflow no back</li>
                            <li><input type="checkbox"> Marcar apresentação</li>
                        </ul>
                </div>
                <div class="dropdown-divider"></div>
                <div id="Note">
                    <label>Lançar nota</label><br>
                    <form>
                        <label for="fnota">Nota:</label>
                        <input type="text" id="fnota" name="fnota"><br><br>
                        <input type="submit" class="btn btn-success" value="Salvar">
                    </form>
                </div>
                <div class="dropdown-divider"></div>
                <br>
                <!--<div id="contact">
                    <label>Entre em contato com o seu orientador</label>
                        <button class="btn btn-primary btn-md" id="sendMail"><a href="mailto:teste@email.com?subject=Solicito contato" > Enviar mensagem</a></button>
                    </div>-->     
                </div>
    </div>
    <!--MODAL-->
    <div id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Histórico de versões</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <p><!--INCLUIR AQUI EVENTO PARA LISTAR DO BANCO--></p>
                    <select name="historico">
                        <option value=" "><a href="#">SELECIONE</a></option>
                        <option value="tcc-versao-11"><a href="#">TCC - Versao 11</a></option>
                        <option value="tcc-versao-10"><a href="#">TCC - Versao 10</a></option>
                        <option value="tcc-versao-9"><a href="#">TCC - Versao 9</a></option>
                        <option value="tcc-versao-8"><a href="#">TCC - Versao 8</a></option>
                        <option value="tcc-versao-7"><a href="#">TCC - Versao 7</a></option>
                        <option value="tcc-versao-6"><a href="#">TCC - Versao 6</a></option>
                        <option value="tcc-versao-5"><a href="#">TCC - Versao 5</a></option>
                        <option value="tcc-versao-4"><a href="#">TCC - Versao 4</a></option>
                        <option value="tcc-versao-3"><a href="#">TCC - Versao 3</a></option>
                        <option value="tcc-versao-2"><a href="#">TCC - Versao 2</a></option>
                        <option value="tcc-versao-1"><a href="https://www.google.com">TCC - Versao 1</a></option>
                    </select>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
        </div>
    </div>
</div>
</div>


{% endblock %}