.container-fluid{
    padding: 0;
}

 /* Navbar */

.navbar{
    /*border-bottom: 1px solid #333;*/
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
} 

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
}

body{
    background-color: #a9c0db;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

body>div.wrapper>img{
    margin: 15px;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
    color: #000000;
}

a, a:hover, a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a,a.logout{
    color: rgb(4, 0, 255);
    text-decoration: none;
}

div.bloco{background-color:#fff !important;font-size: 25px;width: 500px; height: 250px;float: left; margin: 10px; border: 10px;}

div.bloco>div{background-color:#6f88f5 !important;font-size: 25px;}

div.bloco>div>p{color: #000000 !important; font-size: 25px;}

#Note{border: 1px rgb(255, 51, 0); border-radius: 5px;}

div>div>#lastversions{border-radius: 2px;}
textarea.comments{width: 550px; height: 60px;}
#enviarcomentario{margin-top: -30px;}

img.logo {
    margin-top: 5px;
    margin-left: 5px;
}

/*Rodapé*/

footer {
    background-color: #333;
    height: 60px;
    border-top: 2px;
}

footer{
    color: #f5f5f5;
    text-align: center;
    top: 30%;
    position: relative;
}