* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

.container-fluid{
    padding: 0;
}

 /* Navbar */

.navbar{
    border: 1px solid rgb(255, 255, 255); border-radius: 5px;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
} 

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
}
#brand-logo{width: 150px !important;}
#menu{color: #333;}
#options{color: #333;}

body{overflow-inline: hidden;background-color: #0e63c4;color: #000000;font-family: Arial, Helvetica, sans-serif;background-repeat: no-repeat;}

body>div.wrapper>img{
    margin: 0px;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
    color: #000000;
}

a, a:hover, a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a.logout{
    color: rgb(4, 0, 255);
    text-decoration: none;
}

div.bloco{background-color:#fff !important;font-size: 25px;width: 500px; height: 250px;float: left; margin: 10px; border: 10px;}

div.bloco>div{background-color:#6f88f5 !important;font-size: 25px;}

div.bloco>div>p{color: #b3adad70 !important; font-size: 25px;}

#addFile{width: 125px;}

#Note{border: 4px rgb(209, 209, 209); }

div>div>#lastversions{border-radius: 2px;}

/* Blocos Aluno */
#project{border:1px solid #fff; border-radius: 5px ;margin-left: 40px; background-color: #fff; height:auto;}
#feed{border:1px solid #fff; border-radius: 5px ;margin-left: auto; background-color: #fff; margin-left: 70px;}
textarea#comments{width: 50%; height: 60px;border:1px solid #00000000; border-radius: 5px; background-color: rgba(97, 97, 97, 0.151); text-transform: none !important;}
#enviarcomentario{border-radius: 5px;margin-top: 35px;}
#final{border:1px solid #fff; border-radius:5px ;margin-left:70px; background-color: #fff; height: auto;}

/* Blocos Professor */
#painel{border:1px solid #fff; border-radius: 5px ;margin-left: auto; background-color: #fff; margin-left: 70px;}
#orientations{width: 500px; height: 500px;}
/*Animacao de fundo*/
canvas {
    display: flex;
}

  /* ---- particles.js container ---- */
#particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#a9c0db00;
}


img.logo {
    margin-top: 5px;
    margin-left: 5px;
}

/*Rodapé*/
footer{
    color: #f5f5f5;text-align: center;top: 30%;position: relative;background-color: #333;height: 60px;border-radius: 5px; width: auto;}