{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gerencia de projetos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a4059cd8e1.js" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
        <link rel="stylesheet" type="text/css" href={% static "styles.css"%}>
    </head>
    <body>
        <div class="wrapper">
            <img class="logo" src="{% static 'img/logo-feuc-site.png' %}">
            <br>
            <!--<h2><a href="{% url 'accounts:login' %}"> Gerencia de Projetos </a></h2>-->
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <p> Sistema de Gerenciamento de TCC ©2020 FEUC<p>
        </footer>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>